<link href="../style.css" rel="stylesheet">

<header class="nav-flex-container">
    <a href="../">
        <img src="../icon.png" alt="A cup!" class="nav-flex-item-1">
    </a>
    <nav class="nav-flex-item-2">
        <ul>
            <li><a href="../art/">Art</a></li>
            <li><a href="../store/">Store</a></li>
            <li><a href="../contact/">Contact</a></li>
            <li><a href="../about/">About</a></li>
            <li><a href="../cv/">CV</a></li>
        </ul>
    </nav>
</header>